body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.margen{
  margin: 100px;
}

.tabla {
  width: 100%;
  text-align: left;
}

.tabla td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu {
  background-color: #253a46;
  padding: 20px;
  font-size: 20px;
}

#menu a {
  color: white;
  padding-right: 50px;
  text-decoration: none;
}

.center {
  text-align: center;
}

.red {
  color: red;
}

.pub_title {
  border-top: 1px solid black;
  cursor: pointer;
}

li {
  margin: 15px 0;
}
